.App {
  text-align: center;
  font-family: "PT Serif", serif;
}

.App-logo {
  height: 30vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.nav-container {
  margin: 20px;
}

.nav {
  text-decoration: none;
  margin: 3rem;
  font-weight: bold;
  color: black;
  font-size: 19px;
}

.login-username-container,
.login-password-container {
  margin-top: 32px;
  padding: 0.5rem;
  font-size: 16px;
  width: 100%;
  display: block;
  color: black;
  border: 2px solid rgba(77, 45, 82, 0.8);
  background-color: #c0e0f7;
}

button {
  max-width: 150px;
  margin-top: 25px;
  padding: 12px 20px;
  border-style: none;
  background-color: black;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  font-size: 17px;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
}
